.primarynav {
	background-color: #960;
	margin: 5px;
	padding: 10px;
	border-radius: 10px;
	color: #FFC;
}
.secondarynav {
	float: left;
}
.secondarynav a {
	color: #FFC;
	background-color: #960;
	border-radius: 10px;
	padding: 5px;
	margin: 10px;
	list-style-position: outside;
}
body {
	background-color: #696;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: normal;
	text-transform: none;
	line-height: 30px;
	float: left;
}
p {
	color: #FFC;
	float: left;
	margin: 5px;
	clear: left;
}
h1 {
	color: #FFC;
}
a {
	color: #FC6;
}
.imagewrap {
	border: 30px double #CC9;
	padding: 5px;
	margin: 5px;
	vertical-align: text-bottom;
	text-align: justify;
}
