.primarynav {
	background-color: #960;
	margin: 5px;
	padding: 10px;
	border-radius: 10px;
	color: #FFC;
}
.secondarynav {
}
.secondarynav a {
	color: #FFC;
	background-color: #960;
	border-radius: 10px;
	padding: 5px;
	margin: 10px;
	list-style-position: outside;
}
body {
	background-color: #696;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: normal;
	text-transform: none;
}
p {
	color: #FFC;
}
h1 {
	color: #FFC;
}
a {
	color: #FC6;
}
